    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <style>
            .bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400; 
  font-style: normal;
}

        </style>
    </head>
    <body>
        <header class="nb-3">
            <h1 class="bebas-neue-regular press-start-2p-regular text-3xl font-bold bg-red-700 text-white text-center py-5"> Quel personnage Dragon ball es tu ! </h1>
        </header>

        <main>

            <p class="text-center press-start-2p-regular text-3xl font-bold bg-red-700 text-white text-center py-5"> {{enonce}} </p>
             
            <ul class="my-12 text-center text-xl" press-start-2p-regular font-semibold text-center text-gray-500>
                <li> <a href="/reponse/0"> {{reponses[0]}} </a> </li>
                <li> <a href="/reponse/1"> {{reponses[1]}} </a> </li>
                <li> <a href="/reponse/2"> {{reponses[2]}} </a> </li>
                <li> <a href="/reponse/3"> {{reponses[3]}} </a> </li>
            </ul>

            
        <p class="text-center press-start-2p-regular font-italic py-6 font-bold text-bold py-5"> Questions {{session["numero_question"] + 1}} </p>

        </main>

        <footer class="bg-red-400 shadow-md absolute bottom-0 w-full">
            <p class="text-center text-white"> Copyright © Toei Animation </p>
        </footer>
    </body>
    </html>